= render 'shared/menu'

.col-sm-3.col-md-2.sidebar-nav
  -# TODO:内容未定
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .gunpla_purchase_historiesSection__appMain
    .gunpla_purchase_historiesHeader__title.h3 ガンプラ購入履歴
    %ul.gunpla-purchase-items
      - @gunpla_purchase_histories.each do |gunpla_purchase_history|
        %li.gunpla-purchase-item-list
          .gunpla-purchase-item
            - if gunpla_purchase_history.image.present?
              = image_tag gunpla_purchase_history.image.to_s, class: 'img-thumbnail'
            - else
              = image_tag 'gunpla-no-image.jpg', class: 'img-thumbnail'
            %p= gunpla_purchase_history.name
            %p="購入価格:#{gunpla_purchase_history.price}円"
            %p=l gunpla_purchase_history.purchased_on, format: :long if gunpla_purchase_history.purchased_on?
            %p="メモ:#{gunpla_purchase_history.note}"

    = paginate @gunpla_purchase_histories
