= simple_form_for([:member_page, making_tool], html: {class: 'informationForm__form'}) do |f|
  .informationForm__formBody
    .informationForm__formSection
      = f.input :name
      = f.input :price
      = f.input :affiliate_amazon_link
      = f.file_field :image
      = f.input :note
      = f.association :making_tool_category
      = f.button :submit, t('common.actions.register')
