.col-sm-3.col-md-2.sidebar-nav
  = render 'member_page/menu'
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .makingtoolsSection__appMain
    .makingtoolsHeader__title.h3 製作道具管理
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    .makingtoolsSection__link
      %ul.list-inline
        %li
          = link_to '新規登録', new_member_page_making_tool_path, class: 'btn btn-primary'
        %li
          %label
            合計金額：
          %span.total_price
            = number_to_currency(@total_price, :locale => 'jp')
    %table.table.table-condensed.table-striped.gunpla_build_admin_table__list
      %thead
        %tr
          %th.col-sm-1= sortable 'id', 'ID'
          %th.col-sm-2= t('activerecord.attributes.making_tool.model_number')
          %th.col-sm-2= sortable t('activerecord.attributes.making_tool.name')
          %th.col-sm-2= t('activerecord.attributes.making_tool.image')
          %th.col-sm-1= sortable t('activerecord.attributes.making_tool.reference_price')
          %th.col-sm-1= sortable t('activerecord.attributes.making_tool.price')
          %th.col-sm-1= sortable t('activerecord.attributes.making_tool.released_on')
          %th.col-sm-1= sortable t('activerecord.attributes.making_tool.purchased_on')
          %th.col-sm-1= t('activerecord.attributes.making_tool.affiliate_amazon_link')
          %th.col-sm-1= t('activerecord.attributes.making_tool.note')
          %th.col-sm-1= t('activerecord.attributes.making_tool.making_tool_category')
          %th.col-sm-1
      %tbody
      - @making_tools.each do |making_tool|
        %tr
          %td= making_tool.id
          %td= making_tool.model_number
          %td= making_tool.name
          %td= image_tag making_tool.image.to_s, class: 'img-thumbnail'
          %td= making_tool.reference_price_jp
          %td= making_tool.price_jp
          %td= making_tool.released_on
          %td= making_tool.purchased_on
          %td= raw(making_tool.affiliate_amazon_link)
          %td= making_tool.note
          %td= making_tool.making_tool_category.name
          %td.last.links
            %ul.inline.list-inline
              %li
                = link_to [:edit, :member_page, making_tool], class: 'edit_making_tool_link' do
                  %i.fa.fa-cog
              %li
                =  link_to [:member_page, making_tool], data: {method: :delete, confirm: '削除しますか?'}, class: 'delete_making_tool_link' do
                  %i.fa.fa-trash

    = paginate @making_tools
