= simple_form_for(production_process, url: [:member_page, gunpla, :production_process], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  .informationForm__formBody
    .informationForm__formSection
      = f.input :title, input_html:{ style: 'width:400px;'}
      = f.input :summary, input_html:{ style: 'width:400px;'}
      = f.input :started_on, html5: true
      = f.input :ended_on, html5: true
      .form_actions
        .col-sm-offset-3.col-sm-9s
          = f.button :submit, t('common.actions.register'), class: 'btn btn-primary'
