.col-sm-3.col-md-2.sidebar-nav
  = render 'member_page/menu'
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .Section__appMain
    .Header__title.h3
      ="#{@gunpla.name}の製作工程"
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    .gunpla-info
      %ul.inline.list-inline
        %li
          = image_tag @gunpla.image.to_s, class: 'gunpla-production-process-thumbnail'
    .todo-comment
      %div
        TODO:ProductionProcessを表示する
      %div
        TODO:ProductionRecordを表示する
      %div
        TODO:ガンプラ一覧に戻るボタン必要かもしれない
    .Section__link
      %ul.list-inline
        %li
          = link_to '製作概要を登録する', new_member_page_gunpla_production_process_path(@gunpla), class: 'btn btn-primary'
        %li
          = link_to '製作記録を登録する(製作概要があれば表示)', new_member_page_gunpla_production_process_production_record_path, class: 'btn btn-primary'
