.col-sm-3.col-md-2.sidebar-nav
  = render 'member_page/menu'
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .Section__appMain
    .Header__title.h3
      ="#{@gunpla.name}の製作工程"
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    .gunpla-info
      %ul.inline.list-inline
        %li
          = image_tag @gunpla.image.to_s, class: 'gunpla-production-process-thumbnail'
    .production-process
      %p
        製作概要
        - if @gunpla.production_process.present?
          %ul.inline.list-inline
            %li
              = @gunpla.production_process.title
            %li
              -# TODO:sanitizeで許可するタグを決める
              = sanitize @gunpla.production_process.summary
            %li
              = @gunpla.production_process.started_on
            %li
              = @gunpla.production_process.ended_on
          %ul.inline.list-inline
            %li
              = link_to '製作概要を編集する', edit_member_page_gunpla_production_process_path(@gunpla), class: 'btn btn-default'
            %li
              = link_to '製作概要を削除する', member_page_gunpla_production_process_path(@gunpla), data: {method: :delete, confirm: '削除しますか?'}, class: 'btn btn-danger'
    - if @gunpla.production_process.present?
      .production-report
        %p
          製作記録
    .Section__link
      %ul.list-inline
        - if @gunpla.production_process.blank?
          %li
            = link_to '製作概要を登録する', new_member_page_gunpla_production_process_path(@gunpla), class: 'btn btn-default'
            %span
              製作概要の登録後に製作記録が登録できるようになります。
        - if @gunpla.production_process.present?
          %li
            = link_to '製作記録を登録する', new_member_page_gunpla_production_process_production_record_path, class: 'btn btn-default'
