= simple_form_for(production_record, url: [:member_page, gunpla, gunpla.production_process, :production_record], wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|
  .informationForm__formBody
    .informationForm__formSection
      = f.input :title, input_html:{ style: 'width:400px;'}
      = f.input :production_date, html5: true
      = f.input :making_hour, input_html:{ style: 'width:100px;'}
      = f.input :making_minute, input_html:{ style: 'width:100px;'}
      = f.input :note, input_html:{ style: 'width:400px;'}
      = f.input :tools, input_html:{ style: 'width:400px;'}
      .form_actions
        %ul.inline.list-inline.col-sm-offset-3.col-sm-9s
          %li
            = f.button :submit, t('common.actions.register'), class: 'btn btn-primary'
          %li
            = link_to '戻る', [:member_page, gunpla, :production_process], class: 'btn btn-default'

- content_for :script do
  :javascript
    $(function() {
      $('#production_record_tools').froalaEditor();
      $('#production_record_note').froalaEditor();
    });
