.col-sm-3.col-md-2.sidebar-nav
  = render 'member_page/menu'
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .gunpla_purchase_historiesSection__appMain
    .gunpla_purchase_historiesHeader__title.h3 ガンプラ購入履歴
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    .gunpla_purchase_historiesSection__link
      %ul.list-inline
        %li
          = link_to '新規登録', new_member_page_gunpla_purchase_history_path, class: 'btn btn-primary'
        %li
          %label
            合計金額：
          %span.total_price
            = number_to_currency(@total_price, :locale => 'jp')
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th.col-sm-1= link_to 'ID', sort: 'id'
          %th.col-sm-2= link_to t('activerecord.attributes.gunpla_purchase_history.name'), sort: 'name'
          %th.col-sm-2= t('activerecord.attributes.gunpla_purchase_history.image')
          %th.col-sm-1= link_to t('activerecord.attributes.gunpla_purchase_history.reference_price'), sort: 'reference_price'
          %th.col-sm-1= link_to t('activerecord.attributes.gunpla_purchase_history.price'), sort: 'price'
          %th.col-sm-1= link_to t('activerecord.attributes.gunpla_purchase_history.released_on'), sort: 'released_on'
          %th.col-sm-1= link_to t('activerecord.attributes.gunpla_purchase_history.purchased_on'), sort: 'purchased_on'
          %th.col-sm-2= t('activerecord.attributes.gunpla_purchase_history.affiliate_amazon_link')
          %th.col-sm-2= t('activerecord.attributes.gunpla_purchase_history.note')
          %th.col-sm-1
      %tbody
      - @gunpla_purchase_histories.each do | gunpla_purchase_history |
        %tr
          %td= gunpla_purchase_history.id
          %td= gunpla_purchase_history.name
          %td= image_tag gunpla_purchase_history.image.to_s, class: 'img-thumbnail'
          %td= gunpla_purchase_history.reference_price_jp
          %td= gunpla_purchase_history.price_jp
          %td= gunpla_purchase_history.released_on
          %td= gunpla_purchase_history.purchased_on
          %td= raw(gunpla_purchase_history.affiliate_amazon_link)
          %td= gunpla_purchase_history.note
          %td.last.links
            %ul.inline.list-inline
              %li
                = link_to [:edit, :member_page, gunpla_purchase_history], class: 'edit_making_tool_link' do
                  %i.fa.fa-cog
              %li
                =  link_to [:member_page, gunpla_purchase_history], data: {method: :delete, confirm: '削除しますか?'}, class: 'delete_gunpla_purchase_historiy_link' do
                  %i.fa.fa-trash

    = paginate @gunpla_purchase_histories
