= render 'shared/menu'

.col-sm-3.col-md-2.sidebar-nav
  -# TODO:内容未定
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
  .makingtoolsSection__appMain
    .makingtoolsHeader__title.h3 製作道具管理
    -# TODO:デザインをリスト以外にする
    %ul.gunpla-purchase-items
      - @making_tools.each do | making_tool |
        %li.gunpla-purchase-item-list
          .gunpla-purchase-item
            - if making_tool.image.present?
              = image_tag making_tool.image.to_s, class: 'img-thumbnail'
            - else
              = image_tag 'gunpla-no-image.jpg', class: 'img-thumbnail'
            %p= making_tool.name
            %p="購入価格:#{making_tool.price}円"
            %p=l making_tool.purchased_on, format: :long if making_tool.purchased_on?
            %p="メモ:#{making_tool.note}"

    = paginate @making_tools
