!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GunplaBuild
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.content_page_body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', :'data-toggle' => "collapse", :'data-target' => "#global-navigation" }
            %span.sr-only
              メニュー
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: '/' }
            Gunpla Build
            %small
              Portal
        #global-navigation.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if member_signed_in?
              %li.edit_member_registration_link
                = link_to 'ユーザー情報編集', edit_member_registration_path
            %li
              - if member_signed_in?
                = link_to destroy_member_session_path, method: :delete do
                  %span.label.label-danger ログアウト
              - else
                = link_to new_member_session_path do
                  %span.label.label-info ログイン

    .container-fluid
      .row
        = yield
    %footer.footer
      .container.text-center
        %span.text-muted
          Copyright © 2018-2018 y_ogagaga All Rights Reserved.
