!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GunplaBuild
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      %div
        - if user_signed_in?
          %div
            Logged in as
            = succeed "." do
              %strong= current_user.email
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %div
            = link_to "ログイン", new_user_session_path
    %div
      %p.notice= notice
      %p.alert= alert
      = yield
